<% provide(:title, "About") %>
<div class="mainCont">
<h1>Our Mission Statement</h1>
<p>Here at Lock Stock Photography, we aim to bring you the best in artsy photography for whatever occasion, whether it be for commercial campaign, local start-up, news article or charity event.
We use up and coming photographers who want to get their names out there and offer up these images at an affordable price to suit any organisation</p>
<p>With our photographer orientated approach, we bring the artistry back into a medium that has all but lost it.</p>
 <%=image_tag("Neon Surroundings.jpg", :class=> "homeIm") %>
 </div>