<div class="mainCont">
    <h1>Thank you for your Lock Stock Photography purchase!</h1></br><h3>We will email you a link to download the photos you have purchase, and a copy of our licensing agreement for your records, as soon as your payment is processed.</h3>
    <h5>Thank you for shopping with Lock Stock Photography and please feel free to continue browsing our catalogue</h5>

<%= link_to 'Back to Catalogue',  stockphotos_path, :class => "button", :role => "button" %>
<br><br><br>
 <%=image_tag("Lively Statues.jpg", :class=> "homeIm") %>
</div>

