<% @categories.each do |category| %>
       <div class="cathols">
          <div class="gallery-image">  
           <%= link_to (image_tag category.image, :class=>"itemholsIm"), category %>
            <div class="gallery-text">

<a href="/category/<%= category.title %>" class="catlink" ><%= category.title %></a>
 
</div>    
</div> 
          
        

</div>
    <% end %>
