<div class="field"><h1>New Stockphoto</h1></div>

<%= render 'form', stockphoto: @stockphoto, :class => "button", :role => "button" %>


 <%= link_to 'Back',  stockphotos_path, :class => "button", :role => "button" %>
